orpsoc/__pycache__
*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile
bin/Makefile.in
bin/fusesoc
config.log
config.status
configure
fusesoc.log
install-sh
missing
py-compile
.*.swp
!doc/Makefile
doc/*.html
